h1, h2, h3, h4, h5, h6{
    font-family: "Baloo 2";
}

.logo a{
    font-family: "Baloo 2"; 
    font-size: xx-large !important;
    font-weight: 800 !important;
}

.profile img{
    height: auto;
    border-radius: 0 !important;
}

.post-content p{
    text-align: justify;
}

#evenement{
    font-size : 16px;
}

#evenement img{
    margin-left: auto;
    margin-right: auto;
}

.contact{
    width : 100%;
}

.contact header{
    margin-bottom: 1em;
}

.contact ul{
    text-align: justify;
}

.contact ul ul{
    text-align: inherit;
}

.contact a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.profile .profile_inner .post-entry{
    width: 100%;
}

#date{
    display:inherit;
}

#date dt{
    width: fit-content;
    margin-top: 1em;
}