<div class="profile">
    {{- with site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl -}}
        {{- $img := "" }}
        {{- if not (urls.Parse .imageUrl).IsAbs }}
            {{- $img = resources.Get .imageUrl }}
        {{- end }}
        {{- if $img }}
            {{- $processableFormats := (slice "jpg" "jpeg" "png" "tif" "bmp" "gif") -}}
            {{- if hugo.IsExtended -}}
                {{- $processableFormats = $processableFormats | append "webp" -}}
            {{- end -}}
            {{- $prod := (hugo.IsProduction | or (eq site.Params.env "production")) }}
            {{- if and (in $processableFormats $img.MediaType.SubType) (eq $prod true)}}
                {{- if (not (and (not .imageHeight) (not .imageWidth))) }}
                    {{- $img = $img.Resize (printf "%dx%d" .imageWidth .imageHeight) }}
                {{- else if .imageHeight }}
                    {{- $img = $img.Resize (printf "x%d" .imageHeight) }}
                {{ else if .imageWidth }}
                    {{- $img = $img.Resize (printf "%dx" .imageWidth) }}
                {{ else }}
                    {{- $img = $img.Resize "150x150" }}
                {{- end }}
            {{- end }}
            <img draggable="false" src="{{ $img.Permalink }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}"
                height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- else }}
        <img draggable="false" src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}"
            height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- end }}
        {{- end }}
        <!-- <h1>{{ .title | default site.Title | markdownify }}</h1> -->
        <span>{{ .subtitle | markdownify }}</span>
        {{- partial "social_icons.html" -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name }}">
                <span class="button-inner">
                    {{ .name }}
                    {{- if (findRE "://" .url) }}&nbsp;
                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="14" width="14">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
                    </svg>
                    {{- end }}
                </span>
            </a>
            {{- end }}
        </div>
        
        {{- with site.Params.event -}}
        <article class="post-entry">
            <header class="entry-header">
                <h2>{{ .titre }}</h2>
            </header>
            <div id="evenement">
            {{ $lien_detail := "" }}
            {{ range .activites }}
                <!-- Découpage de la date -->
                {{ $jour := substr .date_heure 0 2 }} 
                {{ $mois := substr .date_heure 3 2 }}
                {{ $annee := substr .date_heure 6 4 }}
                {{ $heure := substr .date_heure 11 5 }}

                <!-- Moyen peut-être un peu hasardeux de concaténer les valeurs précédentes pour créer une date au format US. -->
                {{ $usdate := printf "%s" ":42" |printf "%s%s" $heure | printf "%s%s" " " | printf "%s%s" $jour | printf "%s%s" "-" | printf "%s%s" $mois |printf "%s%s" "-" | printf "%s%s" $annee | printf "%s" }}

                <!-- Date formatée pour comparaison -->
                {{ $fullDate := time.AsTime $usdate }}

                <!-- Si la date dans le tableau est plus grands que la date actuelle -->
                {{ if gt $fullDate time.Now }} 
                    <!-- Affichage de l'évènement avec la date formatée -->
                    <p>
                        <b>
                            {{ .description }}
                        </b>
                    </p>

                    {{ if .imgsrc }}
                        <img src="{{ .imgsrc }}" />
                    {{ else }}
                        <p>
                            {{ if .adresse }}
                                {{ .adresse }}
                            {{ end }}
                        </p>
                        
                        {{ if .alt_date }}
                            <p>{{ .alt_date }}</p>
                        {{ else }}
                            <p>{{ strings.FirstUpper (time.Format "Monday 2 January 2006 à 15:04" $fullDate) }}</p> 
                        {{ end }}
                    {{ end }}
                    {{ $lien_detail = .lien }}

                    <u>{{ site.Params.event.texte }}</u>

                    {{ break }}
                {{ end }}
            {{ end }}
            {{ if (eq $lien_detail "") }}
                    Aucune information disponible.
            {{ end }}
            </div>
            {{ if not (eq $lien_detail "") }}
                <a class="entry-link" href="{{ $lien_detail }}"  target="{{ if (findRE "://" $lien_detail) }}_blank{{ else }}_self{{ end }}"></a>
            {{ end }}
        </article>
        {{- end  }}

        <article class="contact">
            <header>
                <h2>Nous contacter</h2>
            </header>
            <ul style="list-style-type: none;">
                <li>
                    <b>Mail :</b> <a href="mailto:contact@lolica.org">contact[Chez]lolica.org</a>
                </li>
                <li>
                    <b>Mastodon :</b> <a href="https://framapiaf.org/@gul_lolica" target="_blank">@gul_lolica@framapiaf.org</a>
                </li>
                <li>
                    <b>Adresse postale :</b> <br>Maison de la Vie Associative de Reims <br>  LOLICA (Boite 78) <br>122 bis rue du Barbâtre <br> 51100 REIMS
                </li>
            </ul>
        </article>
        {{- end }}
    </div>
    {{- end}}
</div>
