
{{- with site.Params.event -}}
    {{ range .activites }}

        <!-- Découpage de la date renseigné dans hugo.toml -->
        {{ $jour := substr .date_heure 0 2 }} 
        {{ $mois := substr .date_heure 3 2 }}
        {{ $annee := substr .date_heure 6 4 }}
        {{ $heure := substr .date_heure 11 5 }}

        <!-- Moyen peut-être un peu hasardeux de concaténer les valeurs précédentes pour créer une date au format US. -->
        {{ $usdate := printf "%s" ":42" | printf "%s%s" $heure | printf "%s%s" " " | printf "%s%s" $jour | printf "%s%s" "-" | printf "%s%s" $mois | printf "%s%s" "-" | printf "%s%s" $annee | printf "%s" }}

        <!-- Date formattée pour comparaison -->
        {{ $fullDate := time.AsTime $usdate }}

        {{ if gt $fullDate time.Now }}
        <dl id="date">
            <dt>
                {{ if .alt_date }}
                    {{ .alt_date }}
                {{ else }}
                    {{ strings.FirstUpper (time.Format "Monday 2 January 2006" $fullDate) }}    
                {{ end }}
            </dt> 
            <dd>
                {{ if (findRE "://" .lien) }}
                    <a href="{{ .lien }}" target="_blank">{{ .description }}</a>
                {{ else }}
                    {{ .description }}
                {{ end }}
            </dd>
        </dl>
        {{ end }}
    {{ end }}
{{- end  }}
